<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tues Questionniare</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "TuesQuestionnaire/css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "TuesQuestionnaire/css/bootstrap-theme.css" %}"/>
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div id="main-nav">
        {% include 'TuesQuestionnaire/navigation.html' %}
    </div>
    <div class="col-md-offset-1 col-md-10 main-content">
        {% block main-content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="{% static "TuesQuestionnaire/js/jquery-3.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "TuesQuestionnaire/js/bootstrap.js" %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>

